<%- include('../../layout/admin/_head') -%>

<section class="content" style="min-height: 800px">
	<div class="row">
		<div class="col-lg-3 col-xs-6">
			<a href="<%=_adminUrl%>/tools/media_files">
				<h4>Media files</h4>       
		    </a>
		    <a href="<%=_adminUrl%>/tools/get_profile">
				<h4>Get Profile</h4>       
		    </a>
		    <a href="<%=_adminUrl%>/tools/check_versions">
				<h4>Mongo Check Versions</h4>       
		    </a>
		    <a href="<%=_adminUrl%>/tools/check_collection">
				<h4>Mongo Check Collection</h4>       
		    </a>
		    <a href="<%=_adminUrl%>/tools/set_unique">
				<h4>Mongo Set Index Collection</h4>       
		    </a>
		    <a href="<%=_adminUrl%>/tools/remove_unique">
				<h4>Mongo Remove Index Collection</h4>       
		    </a>
		    <a href="<%=_adminUrl%>/tools/remove_collection">
				<h4>Mongo Remove Collection</h4>       
		    </a>
		</div>
	</div>
</section>
</div><!--/.content-wrapper-->
<%- include('../../layout/admin/_footer') -%>
<%- include('../../layout/admin/_end') -%>